#textbox {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur(4px);
    width:85%;
    border-radius:10px;
    padding:20px;
}
#question {
    color:#fff;
    font-size: 2.1rem;
    padding:0;
}
form {
    width: 98%;
}
#text-input {
    width:100%;
    border:none;
    padding:10px;
    background-color: none;
    border-bottom: 2px solid #fff;
    color:#fff;
    font-weight: 600;
}
input[type="text"] {
    background: none;
}
#text-input:focus {
    outline: none !important;
}
#text-input::placeholder {
    color:#fff;
    letter-spacing: 1px;
    font-weight: 600;
}